.validationmessage {
    margin: 5px;
    color: #9B2800;
    font-style: italic;
}

.signup-form i {
    color: #9B2800
}

.signup-form input {
    background: #FFF;
    border: 1px solid var(--section2-foreground);
    border-radius: 0.3em;
    margin: 0.5em;
    padding: 0.3em;
    color: var(--section2-foreground);
    font-size: 0.8em;
}

.signup-form button {
    background: #FFF;
    border: 1px solid var(--section2-foreground);
    border-radius: 0.3em;
    margin: 0.5em;
    padding: 0.3em;
    color: var(--section2-foreground);
    font-weight: bold;
    font-size: 0.8em;
    min-width: 10%;
}