.scrollsnap {
    scroll-snap-align: start;
}

.bodyheader {
    height: 100vh;
    padding: 45px 15px;
    background-color: #9B2800;
    color: #fff;
}

.bodysection {
    height: 100vh;
    padding: 30px 15px;
    background-color: #FFA739;
    color: #9B5600;
    overflow-y: auto;
}

.bodysection:nth-child(even) {
    background-color: #FFCB39;
    color: #9B7200;
}
