.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.80);
}

.modalcontent {
    position: absolute;
    top: 30%;
    left: 40px;
    right: 40px;
    bottom: auto;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.modalbutton {
    display: block;
    padding: 10px 30px;
    margin: 20px auto;
    border-radius: 5px;
}